@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

/************ Custom Font ************/
@font-face {
  font-family: Centra;
  src: url("/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("/font/CentraNo2-Book.ttf");
  font-weight: 400;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #000000 !important;
  color: #fff !important;
  font-family: "Centra", sans-serif !important;
}

/* For Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px; /* Width of the vertical scrollbar */
  height: 12px; /* Height of the horizontal scrollbar */
}

/* Track (the area the thumb slides within) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey background */
  border-radius: 10px; /* Rounded corners */
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #3e3e40; /* Your accent color, purple in this case */
  border-radius: 10px; /* Rounded corners */
  border: 3px solid #f1f1f1; /* Space between thumb and track */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #28282e; /* Change to a slightly darker purple on hover */
}

/* Optional: Styling the scrollbar for the horizontal direction */
::-webkit-scrollbar-horizontal {
  height: 12px; /* Adjust height for horizontal scrollbar */
}

::-webkit-scrollbar-thumb:active {
  background: #3a3a40; /* Darken the thumb when clicked */
}

.scroll-smooth {
  scroll-behavior: smooth;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  );
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  color: white;
}
.banner p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

/* Styling the social icon container */
.social-icon {
  display: flex;
  gap: 1rem;
}

.social-icon-link {
  width: 32px;
  height: 32px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
  position: relative;
  transition: #fff 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Adding a hover effect */
.social-icon-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.1);
}

.social-icon-link::before {
  content: "";
  width: 32px;
  height: 32px;
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon-link:hover::before {
  transform: scale(1);
}

.skill h2 {
  font-size: 45px;
  font-weight: 700;
}
.skill p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
}
